In [ ]:
# !python3 -m pip install matplotlib

In [ ]:
# !python3 -m pip install pandas

In [ ]:
# !python3 -m pip install mysql-connector

In [ ]:
# !python3 -m pip install pymysql

## GET API

In [ ]:
# key = 'GWXLIMM8PJ1W2F2C'

In [1]:
## FUNCTION
import pymysql

api_url = 'https://www.alphavantage.co/query'
    
def get_alphavantage(params_dict: dict()) -> dict():
    params = '&'.join([f'{key}={value}' for key, value in params_dict.items()])
    print(params)
    
    import requests
    
    url = f'{api_url}?{params}'
    r = requests.get(url)
    data = r.json()
    return data

def init_db() -> pymysql.connections.Connection:
    # Open database connection
    # Connect to the database
    db = pymysql.connect(
        host='alphavantage.ckhcoakuhojq.ap-southeast-1.rds.amazonaws.com',
         user='admin',
         password='adminadmin',
         database='alphavantage_uat',
         cursorclass=pymysql.cursors.DictCursor
    )
    return db

def insert_data(df, table_name, db):
    # prepare a cursor object using cursor() method
    cursor = db.cursor()
    
    field_len = len(df.columns.values)
    cols = ','.join(list(df.columns.values))

    for i, row in df.iterrows():
        print(i)
        data_row = ','.join([row[list(df.columns.values)[field_i]] for field_i in range(field_len)])

        sql = f"""
            INSERT IGNORE INTO {table_name} ({cols})
            VALUES ({data_row});
        """
        print(sql.format(table_name,cols,data_row))

        cursor.execute(sql)
        
db = init_db()

In [ ]:
## daily ticker/currency (/api/dailyeod)
params_dict = {
    'function': 'FX_DAILY',
    'from_symbol': 'EUR',
    'to_symbol': 'USD',
    'apikey': 'demo'
}
data = get_alphavantage(params_dict)
# data

# df = pd.read_json(fname).reset_index()
df = pd.DataFrame(data).reset_index()

df = pd.concat([
    df[df.columns.tolist()[-1]].dropna().apply(pd.Series),
    df.drop(df.columns.tolist()[-1], axis=1)
], axis=1)

df = df[
    df[df.columns.tolist()[-1]].isnull() # take out last column with null value (Meta Data) - logic will change if json structure changes
].drop(
    df.columns.tolist()[-1], axis=1 # drop empty column (Meta Data)
)
df.rename(columns={'index': 'date'}, inplace=True)
df.columns = [x.replace('.','_').replace(' ','').lower() for x in df.columns]
df['date'] = df['date'].apply(lambda x: f"'{x}'")

df = df.reset_index(drop=True)
# df

table_name = '_'.join(list(params_dict.values())[:-1]).lower()
print(table_name)

insert_data(df, table_name, db)
db.commit()

In [3]:
## monthly CPI (/api/monthlycpi)
params_dict = {
    'function': 'CPI',
    'interval': 'monthly',
    'apikey': 'demo'
}
data = get_alphavantage(params_dict)
# data

# df = pd.read_json(fname)
df = pd.DataFrame(data)

df = pd.concat([
    df[df.columns.tolist()[-1]].apply(pd.Series),
    df.drop(df.columns.tolist()[-1], axis=1)
], axis=1)
df = df[['date','value']]
df['date'] = df['date'].apply(lambda x: f"'{x}'")

df = df.reset_index(drop=True)
# df

table_name = '_'.join(list(params_dict.values())[:-1]).lower()
print(table_name)

insert_data(df, table_name, db)
db.commit()

function=CPI&interval=monthly&apikey=demo
cpi_monthly
0

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-09-01',274.310);

1

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-08-01',273.567);

2

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-07-01',273.003);

3

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-06-01',271.696);

4

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-05-01',269.195);

5

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-04-01',267.054);

6

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-03-01',264.877);

7

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-02-01',263.014);

8

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2021-01-01',261.582);

9

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-12-01',260.474);

10

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-11-01',260.229);

11

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-10-01',260.388);

12

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-09-01',260.280);

13

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-08-01',259.918);

14

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-07-01',259.101);

15

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-06-01',257.797);

16

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-05-01',256.394);

17

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-04-01',256.389);

18

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-03-01',258.115);

19

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-02-01',258.678);

20

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2020-01-01',257.971);

21

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-12-01',256.974);

22

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-11-01',257.208);

23

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-10-01',257.346);

24

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-09-01',256.759);

25

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-08-01',256.558);

26

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-07-01',256.571);

27

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-06-01',256.143);

28

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-05-01',256.092);

29

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-04-01',255.548);

30

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-03-01',254.202);

31

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-02-01',252.776);

32

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2019-01-01',251.712);

33

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-12-01',251.233);

34

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-11-01',252.038);

35

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-10-01',252.885);

36

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-09-01',252.439);

37

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-08-01',252.146);

38

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-07-01',252.006);

39

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-06-01',251.989);

40

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-05-01',251.588);

41

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-04-01',250.546);

42

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-03-01',249.554);

43

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-02-01',248.991);

44

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2018-01-01',247.867);

45

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-12-01',246.524);

46

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-11-01',246.669);

47

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-10-01',246.663);

48

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-09-01',246.819);

49

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-08-01',245.519);

50

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-07-01',244.786);

51

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-06-01',244.955);

52

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-05-01',244.733);

53

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-04-01',244.524);

54

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-03-01',243.801);

55

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-02-01',243.603);

56

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2017-01-01',242.839);

57

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-12-01',241.432);

58

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-11-01',241.353);

59

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-10-01',241.729);

60

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-09-01',241.428);

61

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-08-01',240.849);

62

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-07-01',240.628);

63

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-06-01',241.018);

64

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-05-01',240.229);

65

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-04-01',239.261);

66

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-03-01',238.132);

67

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-02-01',237.111);

68

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2016-01-01',236.916);

69

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-12-01',236.525);

70

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-11-01',237.336);

71

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-10-01',237.838);

72

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-09-01',237.945);

73

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-08-01',238.316);

74

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-07-01',238.654);

75

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-06-01',238.638);

76

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-05-01',237.805);

77

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-04-01',236.599);

78

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-03-01',236.119);

79

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-02-01',234.722);

80

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2015-01-01',233.707);

81

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-12-01',234.812);

82

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-11-01',236.151);

83

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-10-01',237.433);

84

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-09-01',238.031);

85

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-08-01',237.852);

86

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-07-01',238.250);

87

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-06-01',238.343);

88

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-05-01',237.900);

89

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-04-01',237.072);

90

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-03-01',236.293);

91

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-02-01',234.781);

92

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2014-01-01',233.916);

93

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-12-01',233.049);

94

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-11-01',233.069);

95

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-10-01',233.546);

96

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-09-01',234.149);

97

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-08-01',233.877);

98

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-07-01',233.596);

99

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-06-01',233.504);

100

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-05-01',232.945);

101

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-04-01',232.531);

102

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-03-01',232.773);

103

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-02-01',232.166);

104

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2013-01-01',230.280);

105

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-12-01',229.601);

106

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-11-01',230.221);

107

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-10-01',231.317);

108

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-09-01',231.407);

109

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-08-01',230.379);

110

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-07-01',229.104);

111

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-06-01',229.478);

112

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-05-01',229.815);

113

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-04-01',230.085);

114

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-03-01',229.392);

115

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-02-01',227.663);

116

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2012-01-01',226.665);

117

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-12-01',225.672);

118

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-11-01',226.230);

119

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-10-01',226.421);

120

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-09-01',226.889);

121

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-08-01',226.545);

122

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-07-01',225.922);

123

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-06-01',225.722);

124

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-05-01',225.964);

125

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-04-01',224.906);

126

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-03-01',223.467);

127

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-02-01',221.309);

128

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2011-01-01',220.223);

129

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-12-01',219.179);

130

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-11-01',218.803);

131

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-10-01',218.711);

132

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-09-01',218.439);

133

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-08-01',218.312);

134

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-07-01',218.011);

135

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-06-01',217.965);

136

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-05-01',218.178);

137

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-04-01',218.009);

138

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-03-01',217.631);

139

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-02-01',216.741);

140

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2010-01-01',216.687);

141

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-12-01',215.949);

142

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-11-01',216.330);

143

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-10-01',216.177);

144

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-09-01',215.969);

145

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-08-01',215.834);

146

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-07-01',215.351);

147

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-06-01',215.693);

148

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-05-01',213.856);

149

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-04-01',213.240);

150

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-03-01',212.709);

151

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-02-01',212.193);

152

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2009-01-01',211.143);

153

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-12-01',210.228);

154

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-11-01',212.425);

155

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-10-01',216.573);

156

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-09-01',218.783);

157

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-08-01',219.086);

158

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-07-01',219.964);

159

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-06-01',218.815);

160

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-05-01',216.632);

161

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-04-01',214.823);

162

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-03-01',213.528);

163

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-02-01',211.693);

164

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2008-01-01',211.080);

165

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-12-01',210.036);

166

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-11-01',210.177);

167

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-10-01',208.936);

168

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-09-01',208.490);

169

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-08-01',207.917);

170

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-07-01',208.299);

171

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-06-01',208.352);

172

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-05-01',207.949);

173

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-04-01',206.686);

174

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-03-01',205.352);

175

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-02-01',203.499);

176

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2007-01-01',202.416);

177

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-12-01',201.8);

178

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-11-01',201.5);

179

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-10-01',201.8);

180

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-09-01',202.9);

181

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-08-01',203.9);

182

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-07-01',203.5);

183

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-06-01',202.9);

184

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-05-01',202.5);

185

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-04-01',201.5);

186

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-03-01',199.8);

187

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-02-01',198.7);

188

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2006-01-01',198.3);

189

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-12-01',196.8);

190

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-11-01',197.6);

191

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-10-01',199.2);

192

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-09-01',198.8);

193

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-08-01',196.4);

194

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-07-01',195.4);

195

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-06-01',194.5);

196

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-05-01',194.4);

197

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-04-01',194.6);

198

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-03-01',193.3);

199

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-02-01',191.8);

200

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2005-01-01',190.7);

201

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-12-01',190.3);

202

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-11-01',191.0);

203

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-10-01',190.9);

204

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-09-01',189.9);

205

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-08-01',189.5);

206

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-07-01',189.4);

207

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-06-01',189.7);

208

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-05-01',189.1);

209

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-04-01',188.0);

210

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-03-01',187.4);

211

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-02-01',186.2);

212

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2004-01-01',185.2);

213

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-12-01',184.3);

214

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-11-01',184.5);

215

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-10-01',185.0);

216

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-09-01',185.2);

217

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-08-01',184.6);

218

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-07-01',183.9);

219

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-06-01',183.7);

220

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-05-01',183.5);

221

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-04-01',183.8);

222

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-03-01',184.2);

223

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-02-01',183.1);

224

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2003-01-01',181.7);

225

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-12-01',180.9);

226

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-11-01',181.3);

227

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-10-01',181.3);

228

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-09-01',181.0);

229

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-08-01',180.7);

230

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-07-01',180.1);

231

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-06-01',179.9);

232

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-05-01',179.8);

233

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-04-01',179.8);

234

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-03-01',178.8);

235

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-02-01',177.8);

236

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2002-01-01',177.1);

237

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-12-01',176.7);

238

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-11-01',177.4);

239

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-10-01',177.7);

240

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-09-01',178.3);

241

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-08-01',177.5);

242

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-07-01',177.5);

243

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-06-01',178.0);

244

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-05-01',177.7);

245

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-04-01',176.9);

246

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-03-01',176.2);

247

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-02-01',175.8);

248

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2001-01-01',175.1);

249

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-12-01',174.0);

250

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-11-01',174.1);

251

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-10-01',174.0);

252

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-09-01',173.7);

253

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-08-01',172.8);

254

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-07-01',172.8);

255

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-06-01',172.4);

256

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-05-01',171.5);

257

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-04-01',171.3);

258

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-03-01',171.2);

259

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-02-01',169.8);

260

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('2000-01-01',168.8);

261

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-12-01',168.3);

262

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-11-01',168.3);

263

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-10-01',168.2);

264

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-09-01',167.9);

265

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-08-01',167.1);

266

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-07-01',166.7);

267

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-06-01',166.2);

268

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-05-01',166.2);

269

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-04-01',166.2);

270

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-03-01',165.0);

271

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-02-01',164.5);

272

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1999-01-01',164.3);

273

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-12-01',163.9);

274

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-11-01',164.0);

275

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-10-01',164.0);

276

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-09-01',163.6);

277

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-08-01',163.4);

278

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-07-01',163.2);

279

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-06-01',163.0);

280

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-05-01',162.8);

281

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-04-01',162.5);

282

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-03-01',162.2);

283

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-02-01',161.9);

284

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1998-01-01',161.6);

285

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-12-01',161.3);

286

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-11-01',161.5);

287

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-10-01',161.6);

288

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-09-01',161.2);

289

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-08-01',160.8);

290

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-07-01',160.5);

291

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-06-01',160.3);

292

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-05-01',160.1);

293

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-04-01',160.2);

294

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-03-01',160.0);

295

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-02-01',159.6);

296

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1997-01-01',159.1);

297

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-12-01',158.6);

298

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-11-01',158.6);

299

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-10-01',158.3);

300

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-09-01',157.8);

301

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-08-01',157.3);

302

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-07-01',157.0);

303

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-06-01',156.7);

304

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-05-01',156.6);

305

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-04-01',156.3);

306

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-03-01',155.7);

307

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-02-01',154.9);

308

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1996-01-01',154.4);

309

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-12-01',153.5);

310

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-11-01',153.6);

311

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-10-01',153.7);

312

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-09-01',153.2);

313

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-08-01',152.9);

314

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-07-01',152.5);

315

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-06-01',152.5);

316

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-05-01',152.2);

317

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-04-01',151.9);

318

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-03-01',151.4);

319

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-02-01',150.9);

320

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1995-01-01',150.3);

321

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-12-01',149.7);

322

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-11-01',149.7);

323

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-10-01',149.5);

324

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-09-01',149.4);

325

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-08-01',149.0);

326

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-07-01',148.4);

327

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-06-01',148.0);

328

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-05-01',147.5);

329

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-04-01',147.4);

330

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-03-01',147.2);

331

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-02-01',146.7);

332

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1994-01-01',146.2);

333

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-12-01',145.8);

334

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-11-01',145.8);

335

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-10-01',145.7);

336

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-09-01',145.1);

337

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-08-01',144.8);

338

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-07-01',144.4);

339

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-06-01',144.4);

340

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-05-01',144.2);

341

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-04-01',144.0);

342

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-03-01',143.6);

343

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-02-01',143.1);

344

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1993-01-01',142.6);

345

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-12-01',141.9);

346

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-11-01',142.0);

347

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-10-01',141.8);

348

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-09-01',141.3);

349

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-08-01',140.9);

350

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-07-01',140.5);

351

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-06-01',140.2);

352

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-05-01',139.7);

353

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-04-01',139.5);

354

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-03-01',139.3);

355

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-02-01',138.6);

356

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1992-01-01',138.1);

357

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-12-01',137.9);

358

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-11-01',137.8);

359

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-10-01',137.4);

360

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-09-01',137.2);

361

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-08-01',136.6);

362

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-07-01',136.2);

363

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-06-01',136.0);

364

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-05-01',135.6);

365

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-04-01',135.2);

366

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-03-01',135.0);

367

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-02-01',134.8);

368

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1991-01-01',134.6);

369

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-12-01',133.8);

370

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-11-01',133.8);

371

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-10-01',133.5);

372

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-09-01',132.7);

373

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-08-01',131.6);

374

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-07-01',130.4);

375

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-06-01',129.9);

376

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-05-01',129.2);

377

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-04-01',128.9);

378

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-03-01',128.7);

379

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-02-01',128.0);

380

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1990-01-01',127.4);

381

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-12-01',126.1);

382

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-11-01',125.9);

383

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-10-01',125.6);

384

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-09-01',125.0);

385

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-08-01',124.6);

386

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-07-01',124.4);

387

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-06-01',124.1);

388

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-05-01',123.8);

389

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-04-01',123.1);

390

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-03-01',122.3);

391

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-02-01',121.6);

392

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1989-01-01',121.1);

393

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-12-01',120.5);

394

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-11-01',120.3);

395

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-10-01',120.2);

396

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-09-01',119.8);

397

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-08-01',119.0);

398

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-07-01',118.5);

399

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-06-01',118.0);

400

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-05-01',117.5);

401

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-04-01',117.1);

402

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-03-01',116.5);

403

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-02-01',116.0);

404

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1988-01-01',115.7);

405

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-12-01',115.4);

406

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-11-01',115.4);

407

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-10-01',115.3);

408

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-09-01',115.0);

409

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-08-01',114.4);

410

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-07-01',113.8);

411

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-06-01',113.5);

412

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-05-01',113.1);

413

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-04-01',112.7);

414

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-03-01',112.1);

415

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-02-01',111.6);

416

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1987-01-01',111.2);

417

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-12-01',110.5);

418

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-11-01',110.4);

419

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-10-01',110.3);

420

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-09-01',110.2);

421

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-08-01',109.7);

422

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-07-01',109.5);

423

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-06-01',109.5);

424

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-05-01',108.9);

425

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-04-01',108.6);

426

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-03-01',108.8);

427

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-02-01',109.3);

428

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1986-01-01',109.6);

429

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-12-01',109.3);

430

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-11-01',109.0);

431

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-10-01',108.7);

432

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-09-01',108.3);

433

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-08-01',108.0);

434

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-07-01',107.8);

435

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-06-01',107.6);

436

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-05-01',107.3);

437

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-04-01',106.9);

438

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-03-01',106.4);

439

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-02-01',106.0);

440

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1985-01-01',105.5);

441

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-12-01',105.3);

442

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-11-01',105.3);

443

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-10-01',105.3);

444

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-09-01',105.0);

445

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-08-01',104.5);

446

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-07-01',104.1);

447

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-06-01',103.7);

448

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-05-01',103.4);

449

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-04-01',103.1);

450

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-03-01',102.6);

451

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-02-01',102.4);

452

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1984-01-01',101.9);

453

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-12-01',101.3);

454

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-11-01',101.2);

455

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-10-01',101.0);

456

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-09-01',100.7);

457

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-08-01',100.2);

458

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-07-01',99.9);

459

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-06-01',99.5);

460

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-05-01',99.2);

461

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-04-01',98.6);

462

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-03-01',97.9);

463

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-02-01',97.9);

464

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1983-01-01',97.8);

465

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-12-01',97.6);

466

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-11-01',98.0);

467

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-10-01',98.2);

468

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-09-01',97.9);

469

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-08-01',97.7);

470

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-07-01',97.5);

471

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-06-01',97.0);

472

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-05-01',95.8);

473

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-04-01',94.9);

474

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-03-01',94.5);

475

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-02-01',94.6);

476

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1982-01-01',94.3);

477

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-12-01',94.0);

478

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-11-01',93.7);

479

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-10-01',93.4);

480

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-09-01',93.2);

481

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-08-01',92.3);

482

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-07-01',91.6);

483

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-06-01',90.6);

484

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-05-01',89.8);

485

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-04-01',89.1);

486

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-03-01',88.5);

487

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-02-01',87.9);

488

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1981-01-01',87.0);

489

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-12-01',86.3);

490

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-11-01',85.5);

491

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-10-01',84.8);

492

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-09-01',84.0);

493

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-08-01',83.3);

494

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-07-01',82.7);

495

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-06-01',82.7);

496

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-05-01',81.8);

497

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-04-01',81.0);

498

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-03-01',80.1);

499

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-02-01',78.9);

500

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1980-01-01',77.8);

501

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-12-01',76.7);

502

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-11-01',75.9);

503

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-10-01',75.2);

504

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-09-01',74.6);

505

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-08-01',73.8);

506

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-07-01',73.1);

507

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-06-01',72.3);

508

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-05-01',71.5);

509

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-04-01',70.6);

510

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-03-01',69.8);

511

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-02-01',69.1);

512

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1979-01-01',68.3);

513

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-12-01',67.7);

514

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-11-01',67.4);

515

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-10-01',67.1);

516

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-09-01',66.5);

517

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-08-01',66.0);

518

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-07-01',65.7);

519

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-06-01',65.2);

520

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-05-01',64.5);

521

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-04-01',63.9);

522

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-03-01',63.4);

523

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-02-01',62.9);

524

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1978-01-01',62.5);

525

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-12-01',62.1);

526

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-11-01',61.9);

527

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-10-01',61.6);

528

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-09-01',61.4);

529

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-08-01',61.2);

530

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-07-01',61.0);

531

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-06-01',60.7);

532

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-05-01',60.3);

533

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-04-01',60.0);

534

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-03-01',59.5);

535

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-02-01',59.1);

536

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1977-01-01',58.5);

537

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-12-01',58.2);

538

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-11-01',58.0);

539

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-10-01',57.9);

540

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-09-01',57.6);

541

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-08-01',57.4);

542

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-07-01',57.1);

543

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-06-01',56.8);

544

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-05-01',56.5);

545

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-04-01',56.1);

546

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-03-01',55.9);

547

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-02-01',55.8);

548

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1976-01-01',55.6);

549

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-12-01',55.5);

550

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-11-01',55.3);

551

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-10-01',54.9);

552

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-09-01',54.6);

553

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-08-01',54.3);

554

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-07-01',54.2);

555

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-06-01',53.6);

556

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-05-01',53.2);

557

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-04-01',52.9);

558

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-03-01',52.7);

559

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-02-01',52.5);

560

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1975-01-01',52.1);

561

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-12-01',51.9);

562

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-11-01',51.5);

563

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-10-01',51.1);

564

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-09-01',50.6);

565

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-08-01',50.0);

566

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-07-01',49.4);

567

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-06-01',49.0);

568

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-05-01',48.6);

569

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-04-01',48.0);

570

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-03-01',47.8);

571

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-02-01',47.2);

572

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1974-01-01',46.6);

573

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-12-01',46.2);

574

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-11-01',45.9);

575

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-10-01',45.6);

576

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-09-01',45.2);

577

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-08-01',45.1);

578

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-07-01',44.3);

579

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-06-01',44.2);

580

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-05-01',43.9);

581

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-04-01',43.6);

582

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-03-01',43.3);

583

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-02-01',42.9);

584

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1973-01-01',42.6);

585

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-12-01',42.5);

586

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-11-01',42.4);

587

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-10-01',42.3);

588

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-09-01',42.1);

589

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-08-01',42.0);

590

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-07-01',41.9);

591

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-06-01',41.7);

592

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-05-01',41.6);

593

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-04-01',41.5);

594

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-03-01',41.4);

595

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-02-01',41.3);

596

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1972-01-01',41.1);

597

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-12-01',41.1);

598

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-11-01',40.9);

599

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-10-01',40.9);

600

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-09-01',40.8);

601

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-08-01',40.8);

602

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-07-01',40.7);

603

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-06-01',40.6);

604

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-05-01',40.3);

605

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-04-01',40.1);

606

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-03-01',40.0);

607

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-02-01',39.9);

608

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1971-01-01',39.8);

609

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-12-01',39.8);

610

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-11-01',39.6);

611

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-10-01',39.4);

612

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-09-01',39.2);

613

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-08-01',39.0);

614

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-07-01',39.0);

615

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-06-01',38.8);

616

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-05-01',38.6);

617

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-04-01',38.5);

618

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-03-01',38.2);

619

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-02-01',38.0);

620

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1970-01-01',37.8);

621

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-12-01',37.7);

622

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-11-01',37.5);

623

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-10-01',37.3);

624

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-09-01',37.1);

625

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-08-01',37.0);

626

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-07-01',36.8);

627

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-06-01',36.6);

628

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-05-01',36.4);

629

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-04-01',36.3);

630

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-03-01',36.1);

631

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-02-01',35.8);

632

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1969-01-01',35.6);

633

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-12-01',35.5);

634

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-11-01',35.4);

635

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-10-01',35.3);

636

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-09-01',35.1);

637

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-08-01',35.0);

638

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-07-01',34.9);

639

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-06-01',34.7);

640

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-05-01',34.5);

641

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-04-01',34.4);

642

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-03-01',34.3);

643

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-02-01',34.2);

644

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1968-01-01',34.1);

645

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-12-01',33.9);

646

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-11-01',33.8);

647

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-10-01',33.7);

648

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-09-01',33.6);

649

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-08-01',33.5);

650

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-07-01',33.4);

651

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-06-01',33.3);

652

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-05-01',33.2);

653

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-04-01',33.1);

654

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-03-01',33.0);

655

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-02-01',32.9);

656

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1967-01-01',32.9);

657

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-12-01',32.9);

658

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-11-01',32.9);

659

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-10-01',32.9);

660

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-09-01',32.7);

661

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-08-01',32.7);

662

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-07-01',32.5);

663

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-06-01',32.4);

664

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-05-01',32.3);

665

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-04-01',32.3);

666

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-03-01',32.1);

667

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-02-01',32.0);

668

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1966-01-01',31.8);

669

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-12-01',31.8);

670

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-11-01',31.7);

671

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-10-01',31.7);

672

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-09-01',31.6);

673

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-08-01',31.6);

674

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-07-01',31.6);

675

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-06-01',31.6);

676

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-05-01',31.4);

677

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-04-01',31.4);

678

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-03-01',31.3);

679

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-02-01',31.2);

680

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1965-01-01',31.2);

681

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-12-01',31.2);

682

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-11-01',31.2);

683

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-10-01',31.1);

684

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-09-01',31.1);

685

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-08-01',31.0);

686

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-07-01',31.1);

687

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-06-01',31.0);

688

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-05-01',30.9);

689

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-04-01',30.9);

690

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-03-01',30.9);

691

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-02-01',30.9);

692

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1964-01-01',30.9);

693

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-12-01',30.9);

694

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-11-01',30.8);

695

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-10-01',30.8);

696

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-09-01',30.7);

697

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-08-01',30.7);

698

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-07-01',30.7);

699

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-06-01',30.6);

700

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-05-01',30.5);

701

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-04-01',30.5);

702

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-03-01',30.5);

703

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-02-01',30.4);

704

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1963-01-01',30.4);

705

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-12-01',30.4);

706

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-11-01',30.4);

707

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-10-01',30.4);

708

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-09-01',30.4);

709

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-08-01',30.3);

710

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-07-01',30.3);

711

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-06-01',30.2);

712

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-05-01',30.2);

713

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-04-01',30.2);

714

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-03-01',30.1);

715

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-02-01',30.1);

716

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1962-01-01',30.0);

717

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-12-01',30.0);

718

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-11-01',30.0);

719

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-10-01',30.0);

720

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-09-01',30.0);

721

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-08-01',29.9);

722

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-07-01',30.0);

723

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-06-01',29.8);

724

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-05-01',29.8);

725

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-04-01',29.8);

726

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-03-01',29.8);

727

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-02-01',29.8);

728

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1961-01-01',29.8);

729

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-12-01',29.8);

730

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-11-01',29.8);

731

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-10-01',29.8);

732

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-09-01',29.6);

733

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-08-01',29.6);

734

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-07-01',29.6);

735

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-06-01',29.6);

736

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-05-01',29.5);

737

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-04-01',29.5);

738

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-03-01',29.4);

739

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-02-01',29.4);

740

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1960-01-01',29.3);

741

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-12-01',29.4);

742

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-11-01',29.4);

743

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-10-01',29.4);

744

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-09-01',29.3);

745

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-08-01',29.2);

746

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-07-01',29.2);

747

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-06-01',29.1);

748

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-05-01',29.0);

749

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-04-01',29.0);

750

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-03-01',28.9);

751

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-02-01',28.9);

752

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1959-01-01',29.0);

753

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-12-01',28.9);

754

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-11-01',29.0);

755

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-10-01',28.9);

756

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-09-01',28.9);

757

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-08-01',28.9);

758

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-07-01',29.0);

759

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-06-01',28.9);

760

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-05-01',28.9);

761

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-04-01',28.9);

762

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-03-01',28.8);

763

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-02-01',28.6);

764

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1958-01-01',28.6);

765

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-12-01',28.4);

766

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-11-01',28.4);

767

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-10-01',28.3);

768

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-09-01',28.3);

769

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-08-01',28.3);

770

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-07-01',28.3);

771

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-06-01',28.1);

772

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-05-01',28.0);

773

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-04-01',27.9);

774

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-03-01',27.8);

775

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-02-01',27.7);

776

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1957-01-01',27.6);

777

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-12-01',27.6);

778

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-11-01',27.5);

779

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-10-01',27.5);

780

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-09-01',27.4);

781

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-08-01',27.3);

782

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-07-01',27.4);

783

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-06-01',27.2);

784

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-05-01',27.0);

785

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-04-01',26.9);

786

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-03-01',26.8);

787

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-02-01',26.8);

788

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1956-01-01',26.8);

789

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-12-01',26.8);

790

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-11-01',26.9);

791

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-10-01',26.9);

792

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-09-01',26.9);

793

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-08-01',26.8);

794

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-07-01',26.8);

795

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-06-01',26.7);

796

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-05-01',26.7);

797

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-04-01',26.7);

798

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-03-01',26.7);

799

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-02-01',26.7);

800

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1955-01-01',26.7);

801

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-12-01',26.7);

802

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-11-01',26.8);

803

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-10-01',26.8);

804

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-09-01',26.8);

805

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-08-01',26.9);

806

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-07-01',26.9);

807

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-06-01',26.9);

808

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-05-01',26.9);

809

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-04-01',26.8);

810

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-03-01',26.9);

811

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-02-01',26.9);

812

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1954-01-01',26.9);

813

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-12-01',26.9);

814

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-11-01',26.9);

815

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-10-01',27.0);

816

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-09-01',26.9);

817

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-08-01',26.9);

818

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-07-01',26.8);

819

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-06-01',26.8);

820

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-05-01',26.7);

821

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-04-01',26.6);

822

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-03-01',26.6);

823

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-02-01',26.5);

824

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1953-01-01',26.6);

825

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-12-01',26.7);

826

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-11-01',26.7);

827

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-10-01',26.7);

828

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-09-01',26.7);

829

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-08-01',26.7);

830

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-07-01',26.7);

831

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-06-01',26.5);

832

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-05-01',26.4);

833

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-04-01',26.4);

834

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-03-01',26.3);

835

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-02-01',26.3);

836

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1952-01-01',26.5);

837

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-12-01',26.5);

838

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-11-01',26.4);

839

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-10-01',26.2);

840

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-09-01',26.1);

841

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-08-01',25.9);

842

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-07-01',25.9);

843

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-06-01',25.9);

844

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-05-01',25.9);

845

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-04-01',25.8);

846

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-03-01',25.8);

847

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-02-01',25.7);

848

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1951-01-01',25.4);

849

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-12-01',25.0);

850

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-11-01',24.7);

851

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-10-01',24.6);

852

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-09-01',24.4);

853

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-08-01',24.3);

854

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-07-01',24.1);

855

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-06-01',23.8);

856

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-05-01',23.7);

857

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-04-01',23.6);

858

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-03-01',23.6);

859

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-02-01',23.5);

860

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1950-01-01',23.5);

861

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-12-01',23.6);

862

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-11-01',23.8);

863

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-10-01',23.7);

864

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-09-01',23.9);

865

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-08-01',23.8);

866

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-07-01',23.7);

867

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-06-01',23.9);

868

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-05-01',23.8);

869

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-04-01',23.9);

870

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-03-01',23.8);

871

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-02-01',23.8);

872

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1949-01-01',24.0);

873

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-12-01',24.1);

874

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-11-01',24.2);

875

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-10-01',24.4);

876

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-09-01',24.5);

877

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-08-01',24.5);

878

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-07-01',24.4);

879

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-06-01',24.1);

880

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-05-01',23.9);

881

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-04-01',23.8);

882

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-03-01',23.4);

883

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-02-01',23.5);

884

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1948-01-01',23.7);

885

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-12-01',23.4);

886

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-11-01',23.1);

887

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-10-01',23.0);

888

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-09-01',23.0);

889

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-08-01',22.5);

890

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-07-01',22.2);

891

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-06-01',22.0);

892

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-05-01',21.9);

893

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-04-01',21.9);

894

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-03-01',21.9);

895

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-02-01',21.5);

896

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1947-01-01',21.5);

897

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-12-01',21.5);

898

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-11-01',21.3);

899

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-10-01',20.8);

900

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-09-01',20.4);

901

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-08-01',20.2);

902

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-07-01',19.8);

903

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-06-01',18.7);

904

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-05-01',18.5);

905

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-04-01',18.4);

906

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-03-01',18.3);

907

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-02-01',18.1);

908

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1946-01-01',18.2);

909

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-12-01',18.2);

910

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-11-01',18.1);

911

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-10-01',18.1);

912

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-09-01',18.1);

913

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-08-01',18.1);

914

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-07-01',18.1);

915

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-06-01',18.1);

916

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-05-01',17.9);

917

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-04-01',17.8);

918

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-03-01',17.8);

919

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-02-01',17.8);

920

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1945-01-01',17.8);

921

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-12-01',17.8);

922

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-11-01',17.7);

923

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-10-01',17.7);

924

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-09-01',17.7);

925

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-08-01',17.7);

926

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-07-01',17.7);

927

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-06-01',17.6);

928

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-05-01',17.5);

929

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-04-01',17.5);

930

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-03-01',17.4);

931

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-02-01',17.4);

932

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1944-01-01',17.4);

933

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-12-01',17.4);

934

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-11-01',17.4);

935

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-10-01',17.4);

936

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-09-01',17.4);

937

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-08-01',17.3);

938

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-07-01',17.4);

939

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-06-01',17.5);

940

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-05-01',17.5);

941

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-04-01',17.4);

942

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-03-01',17.2);

943

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-02-01',16.9);

944

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1943-01-01',16.9);

945

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-12-01',16.9);

946

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-11-01',16.8);

947

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-10-01',16.7);

948

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-09-01',16.5);

949

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-08-01',16.5);

950

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-07-01',16.4);

951

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-06-01',16.3);

952

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-05-01',16.3);

953

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-04-01',16.1);

954

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-03-01',16);

955

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-02-01',15.8);

956

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1942-01-01',15.7);

957

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-12-01',15.5);

958

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-11-01',15.4);

959

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-10-01',15.3);

960

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-09-01',15.1);

961

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-08-01',14.9);

962

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-07-01',14.7);

963

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-06-01',14.7);

964

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-05-01',14.4);

965

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-04-01',14.3);

966

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-03-01',14.2);

967

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-02-01',14.1);

968

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1941-01-01',14.1);

969

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-12-01',14.1);

970

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-11-01',14);

971

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-10-01',14);

972

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-09-01',14);

973

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-08-01',14);

974

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-07-01',14);

975

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-06-01',14.1);

976

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-05-01',14);

977

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-04-01',14);

978

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-03-01',14);

979

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-02-01',14);

980

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1940-01-01',13.9);

981

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-12-01',14);

982

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-11-01',14);

983

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-10-01',14);

984

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-09-01',14.1);

985

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-08-01',13.8);

986

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-07-01',13.8);

987

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-06-01',13.8);

988

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-05-01',13.8);

989

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-04-01',13.8);

990

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-03-01',13.9);

991

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-02-01',13.9);

992

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1939-01-01',14);

993

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-12-01',14);

994

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-11-01',14);

995

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-10-01',14);

996

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-09-01',14.1);

997

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-08-01',14.1);

998

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-07-01',14.1);

999

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-06-01',14.1);

1000

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-05-01',14.1);

1001

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-04-01',14.2);

1002

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-03-01',14.1);

1003

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-02-01',14.1);

1004

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1938-01-01',14.2);

1005

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-12-01',14.4);

1006

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-11-01',14.5);

1007

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-10-01',14.6);

1008

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-09-01',14.6);

1009

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-08-01',14.5);

1010

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-07-01',14.5);

1011

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-06-01',14.4);

1012

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-05-01',14.4);

1013

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-04-01',14.3);

1014

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-03-01',14.2);

1015

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-02-01',14.1);

1016

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1937-01-01',14.1);

1017

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-12-01',14);

1018

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-11-01',14);

1019

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-10-01',14);

1020

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-09-01',14);

1021

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-08-01',14);

1022

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-07-01',13.9);

1023

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-06-01',13.8);

1024

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-05-01',13.7);

1025

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-04-01',13.7);

1026

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-03-01',13.7);

1027

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-02-01',13.8);

1028

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1936-01-01',13.8);

1029

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-12-01',13.8);

1030

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-11-01',13.8);

1031

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-10-01',13.7);

1032

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-09-01',13.7);

1033

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-08-01',13.7);

1034

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-07-01',13.7);

1035

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-06-01',13.7);

1036

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-05-01',13.8);

1037

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-04-01',13.8);

1038

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-03-01',13.7);

1039

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-02-01',13.7);

1040

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1935-01-01',13.6);

1041

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-12-01',13.4);

1042

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-11-01',13.5);

1043

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-10-01',13.5);

1044

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-09-01',13.6);

1045

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-08-01',13.4);

1046

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-07-01',13.4);

1047

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-06-01',13.4);

1048

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-05-01',13.3);

1049

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-04-01',13.3);

1050

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-03-01',13.3);

1051

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-02-01',13.3);

1052

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1934-01-01',13.2);

1053

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-12-01',13.2);

1054

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-11-01',13.2);

1055

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-10-01',13.2);

1056

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-09-01',13.2);

1057

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-08-01',13.2);

1058

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-07-01',13.1);

1059

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-06-01',12.7);

1060

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-05-01',12.6);

1061

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-04-01',12.6);

1062

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-03-01',12.6);

1063

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-02-01',12.7);

1064

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1933-01-01',12.9);

1065

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-12-01',13.1);

1066

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-11-01',13.2);

1067

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-10-01',13.3);

1068

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-09-01',13.4);

1069

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-08-01',13.5);

1070

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-07-01',13.6);

1071

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-06-01',13.6);

1072

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-05-01',13.7);

1073

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-04-01',13.9);

1074

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-03-01',14);

1075

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-02-01',14.1);

1076

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1932-01-01',14.3);

1077

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-12-01',14.6);

1078

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-11-01',14.7);

1079

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-10-01',14.9);

1080

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-09-01',15);

1081

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-08-01',15.1);

1082

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-07-01',15.1);

1083

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-06-01',15.1);

1084

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-05-01',15.3);

1085

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-04-01',15.5);

1086

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-03-01',15.6);

1087

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-02-01',15.7);

1088

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1931-01-01',15.9);

1089

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-12-01',16.1);

1090

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-11-01',16.4);

1091

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-10-01',16.5);

1092

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-09-01',16.6);

1093

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-08-01',16.5);

1094

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-07-01',16.6);

1095

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-06-01',16.8);

1096

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-05-01',16.9);

1097

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-04-01',17);

1098

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-03-01',16.9);

1099

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-02-01',17);

1100

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1930-01-01',17.1);

1101

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-12-01',17.2);

1102

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-11-01',17.3);

1103

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-10-01',17.3);

1104

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-09-01',17.3);

1105

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-08-01',17.3);

1106

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-07-01',17.3);

1107

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-06-01',17.1);

1108

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-05-01',17);

1109

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-04-01',16.9);

1110

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-03-01',17);

1111

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-02-01',17.1);

1112

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1929-01-01',17.1);

1113

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-12-01',17.1);

1114

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-11-01',17.2);

1115

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-10-01',17.2);

1116

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-09-01',17.3);

1117

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-08-01',17.1);

1118

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-07-01',17.1);

1119

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-06-01',17.1);

1120

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-05-01',17.2);

1121

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-04-01',17.1);

1122

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-03-01',17.1);

1123

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-02-01',17.1);

1124

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1928-01-01',17.3);

1125

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-12-01',17.3);

1126

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-11-01',17.3);

1127

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-10-01',17.4);

1128

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-09-01',17.3);

1129

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-08-01',17.2);

1130

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-07-01',17.3);

1131

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-06-01',17.6);

1132

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-05-01',17.4);

1133

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-04-01',17.3);

1134

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-03-01',17.3);

1135

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-02-01',17.4);

1136

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1927-01-01',17.5);

1137

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-12-01',17.7);

1138

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-11-01',17.7);

1139

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-10-01',17.6);

1140

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-09-01',17.5);

1141

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-08-01',17.4);

1142

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-07-01',17.5);

1143

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-06-01',17.7);

1144

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-05-01',17.8);

1145

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-04-01',17.9);

1146

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-03-01',17.8);

1147

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-02-01',17.9);

1148

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1926-01-01',17.9);

1149

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-12-01',17.9);

1150

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-11-01',18);

1151

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-10-01',17.7);

1152

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-09-01',17.7);

1153

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-08-01',17.7);

1154

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-07-01',17.7);

1155

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-06-01',17.5);

1156

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-05-01',17.3);

1157

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-04-01',17.2);

1158

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-03-01',17.3);

1159

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-02-01',17.2);

1160

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1925-01-01',17.3);

1161

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-12-01',17.3);

1162

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-11-01',17.2);

1163

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-10-01',17.2);

1164

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-09-01',17.1);

1165

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-08-01',17);

1166

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-07-01',17.1);

1167

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-06-01',17);

1168

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-05-01',17);

1169

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-04-01',17);

1170

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-03-01',17.1);

1171

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-02-01',17.2);

1172

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1924-01-01',17.3);

1173

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-12-01',17.3);

1174

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-11-01',17.3);

1175

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-10-01',17.3);

1176

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-09-01',17.2);

1177

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-08-01',17.1);

1178

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-07-01',17.2);

1179

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-06-01',17);

1180

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-05-01',16.9);

1181

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-04-01',16.9);

1182

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-03-01',16.8);

1183

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-02-01',16.8);

1184

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1923-01-01',16.8);

1185

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-12-01',16.9);

1186

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-11-01',16.8);

1187

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-10-01',16.7);

1188

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-09-01',16.6);

1189

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-08-01',16.6);

1190

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-07-01',16.8);

1191

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-06-01',16.7);

1192

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-05-01',16.7);

1193

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-04-01',16.7);

1194

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-03-01',16.7);

1195

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-02-01',16.9);

1196

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1922-01-01',16.9);

1197

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-12-01',17.3);

1198

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-11-01',17.4);

1199

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-10-01',17.5);

1200

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-09-01',17.5);

1201

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-08-01',17.7);

1202

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-07-01',17.7);

1203

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-06-01',17.6);

1204

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-05-01',17.7);

1205

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-04-01',18.1);

1206

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-03-01',18.3);

1207

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-02-01',18.4);

1208

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1921-01-01',19);

1209

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-12-01',19.400);

1210

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-11-01',19.800);

1211

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-10-01',19.900);

1212

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-09-01',20.000);

1213

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-08-01',20.300);

1214

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-07-01',20.800);

1215

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-06-01',20.900);

1216

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-05-01',20.600);

1217

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-04-01',20.300);

1218

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-03-01',19.700);

1219

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-02-01',19.500);

1220

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1920-01-01',19.300);

1221

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-12-01',18.900);

1222

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-11-01',18.500);

1223

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-10-01',18.100);

1224

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-09-01',17.800);

1225

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-08-01',17.700);

1226

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-07-01',17.400);

1227

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-06-01',16.900);

1228

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-05-01',16.900);

1229

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-04-01',16.700);

1230

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-03-01',16.400);

1231

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-02-01',16.200);

1232

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1919-01-01',16.500);

1233

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-12-01',16.500);

1234

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-11-01',16.300);

1235

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-10-01',16.000);

1236

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-09-01',15.700);

1237

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-08-01',15.400);

1238

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-07-01',15.100);

1239

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-06-01',14.700);

1240

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-05-01',14.500);

1241

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-04-01',14.200);

1242

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-03-01',14.000);

1243

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-02-01',14.100);

1244

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1918-01-01',14.000);

1245

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-12-01',13.700);

1246

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-11-01',13.500);

1247

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-10-01',13.500);

1248

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-09-01',13.300);

1249

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-08-01',13.000);

1250

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-07-01',12.800);

1251

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-06-01',13.000);

1252

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-05-01',12.800);

1253

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-04-01',12.600);

1254

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-03-01',12.000);

1255

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-02-01',12.000);

1256

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1917-01-01',11.700);

1257

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-12-01',11.600);

1258

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-11-01',11.500);

1259

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-10-01',11.300);

1260

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-09-01',11.100);

1261

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-08-01',10.900);

1262

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-07-01',10.800);

1263

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-06-01',10.800);

1264

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-05-01',10.700);

1265

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-04-01',10.600);

1266

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-03-01',10.500);

1267

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-02-01',10.400);

1268

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1916-01-01',10.400);

1269

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-12-01',10.300);

1270

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-11-01',10.300);

1271

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-10-01',10.200);

1272

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-09-01',10.100);

1273

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-08-01',10.100);

1274

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-07-01',10.100);

1275

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-06-01',10.100);

1276

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-05-01',10.100);

1277

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-04-01',10.000);

1278

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-03-01',9.900);

1279

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-02-01',10.000);

1280

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1915-01-01',10.100);

1281

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-12-01',10.100);

1282

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-11-01',10.200);

1283

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-10-01',10.100);

1284

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-09-01',10.200);

1285

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-08-01',10.200);

1286

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-07-01',10.000);

1287

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-06-01',9.900);

1288

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-05-01',9.900);

1289

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-04-01',9.800);

1290

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-03-01',9.900);

1291

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-02-01',9.900);

1292

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1914-01-01',10.000);

1293

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-12-01',10.000);

1294

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-11-01',10.100);

1295

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-10-01',10.000);

1296

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-09-01',10.000);

1297

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-08-01',9.900);

1298

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-07-01',9.900);

1299

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-06-01',9.800);

1300

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-05-01',9.700);

1301

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-04-01',9.800);

1302

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-03-01',9.800);

1303

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-02-01',9.800);

1304

            INSERT IGNORE INTO cpi_monthly (date,value)
            VALUES ('1913-01-01',9.800);

## CLEAN DATA

## QUERY

In [12]:
import pandas as pd

query = f"SELECT * FROM alphavantage_uat.fx_daily_eur_usd;"
df = pd.read_sql(query, db)
df

Empty DataFrame
Columns: [date, 1_open, 2_high, 3_low, 4_close]
Index: []

In [2]:
import pandas as pd

query = f"SELECT * FROM alphavantage_uat.cpi_monthly;"
df = pd.read_sql(query, db)
df

            date    value
0     1913-01-01    9.800
1     1913-02-01    9.800
2     1913-03-01    9.800
3     1913-04-01    9.800
4     1913-05-01    9.700
...          ...      ...
1300  2021-05-01  269.195
1301  2021-06-01  271.696
1302  2021-07-01  273.003
1303  2021-08-01  273.567
1304  2021-09-01  274.310

[1305 rows x 2 columns]

## CREATE TABLE - Adhoc

In [ ]:
# cursor = db.cursor()
    
# # Drop table if it already exist using execute() method.
# cursor.execute(f"DROP TABLE IF EXISTS fx_daily_eur_usd;")

# # Create table as per requirement
# sql = f"""
#     CREATE TABLE IF NOT EXISTS fx_daily_eur_usd (
#         date DATE PRIMARY KEY,
#         1_open FLOAT,
#         2_high FLOAT,
#         3_low FLOAT,
#         4_close FLOAT
#     );
# """

# cursor.execute(sql)

In [ ]:
# cursor = db.cursor()

# # Drop table if it already exist using execute() method.
# cursor.execute(f"DROP TABLE IF EXISTS cpi_monthly;")

# # Create table as per requirement
# sql = f"""
#     CREATE TABLE IF NOT EXISTS cpi_monthly (
#         date DATE PRIMARY KEY,
#         value FLOAT
#     );
# """

# cursor.execute(sql)

In [2]:
cursor = db.cursor()

cursor.execute("SHOW DATABASES;")

for i in cursor:
    print(i)

{'Database': 'alphavantage'}
{'Database': 'alphavantage_uat'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

In [3]:
cursor = db.cursor()

cursor.execute("SHOW TABLES;")

for tables in cursor:
    print(tables)

{'Tables_in_alphavantage_uat': 'cpi_monthly'}
{'Tables_in_alphavantage_uat': 'fx_daily_eur_usd'}
{'Tables_in_alphavantage_uat': 'table_name'}

In [6]:
cursor = db.cursor()

cursor.execute(f"DESCRIBE cpi_monthly;")

for field in cursor:
    print(field)

{'Field': 'date', 'Type': 'date', 'Null': 'NO', 'Key': 'PRI', 'Default': None, 'Extra': ''}
{'Field': 'value', 'Type': 'float', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}

## MONTHLY

In [ ]:
# import requests

# # replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
# url = f'https://www.alphavantage.co/query?function=CPI&interval=monthly&apikey={key}'
# r = requests.get(url)
# data = r.json()

# print(data)

## CONNECT TO MySQL RDS

In [ ]:
# import pymysql

In [ ]:
# # Connect to the database
# connection = pymysql.connect(host='alphavantage.ckhcoakuhojq.ap-southeast-1.rds.amazonaws.com',
#                              user='admin',
#                              password='adminadmin')
# #                              database='alphavantage',
# #                              cursorclass=pymysql.cursors.DictCursor)
# connection

In [ ]:
# cursor = connection.cursor()
# cursor

In [ ]:
# # execute SQL query using execute() method.
# cursor.execute("SELECT VERSION();")

# # Fetch a single row using fetchone() method.
# ver = cursor.fetchone()
# print ("Database version : %s " % ver)

## CREATE DATABASE

In [ ]:
# connection.cursor().execute('CREATE DATABASE alphavantage_uat;')

## SHOW DATABASES

In [ ]:
# cursor.execute("SHOW DATABASES;")

# for databases in cursor:
#     print(databases[0])

## THIRD PARTY API

In [ ]:
# from alpha_vantage.timeseries import TimeSeries
# import matplotlib.pyplot as plt

# ts = TimeSeries(key='GWXLIMM8PJ1W2F2C', output_format='json')
# data, meta_data = ts.get_intraday(symbol='MSFT',interval='1min', outputsize='full')
# print(data)
# print(meta_data)
# # data['close'].plot()
# # plt.title('Intraday Times Series for the MSFT stock (1 min)')
# # plt.show()